.App {
  text-align: center;
}

.App-header {
  background-color: steelblue;
  height: 75px;
  color: white;
  position:fixed;
  width:100%;
  top: 0;
}

.App-text {
  color: darkslategrey;
  margin: 75px 20px 0 20px;
}
